body{
  background: linear-gradient(180deg, #03085f, transparent);

}

.header {
  width: 100%;
  height: 320px;
  position: relative; }

.header::after {
  content: "";
  display: block;
  width: 70%;
  height: 100px;
  background: #2e75b6;
  top: 0;
  right: 0;
  position: absolute;
 }

#name {
  background: #eae8e8;
    display: block;
    width: 43.4%;
    height: 200px;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    position: relative;
    z-index: 1;
    padding-left: 10%;
    line-height: 55px;
}

#name p {
  margin: 0;
  font-size: 60px;
  font-weight: 500;
  color: #77afc3;
  padding: 20px 0 0; }

#name > div {
  padding-right: 25%;
  text-align: right;
  line-height: 55px;
}

#contacts > .title,
#profile > .title,
.section > .title,
section > .title {
  width: 300px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 5px 20px;
  position: relative;
  text-align: center;
  z-index: 1;
  clip-path: polygon(25px 0%, 100% 0%, 275px 100%, 0% 100%);
  z-index: 3;
}

.bg-blue-light{
  background: #77afc3;
}
.bg-blue{
  background: #2e75b6;
}

.header p,
.title + p {
  margin: 0;
  color: #828792;
  font-weight: 500; }

#contacts {
  position: absolute;
  top: 75px;
  z-index: 4;
  left: 37%;
  width: 38%; }


.decoration-label {
  content: '';
    width: 300px;
    height: 20px;
    background: #2e75b6;
    position: absolute;
    left: 35.8px;
    z-index: 2;
    top: 25px;
    clip-path: polygon(12.5px 0%, 100% 0%, 287.5px 100%, 0% 100%);
}

.title + p {
  text-align: justify; }

#profile {
  position: absolute;
  top: 180px;
  z-index: 4;
  left: 30px; }

  #contacts > .title{
    left: -10px;
  }

.section {
  padding: 5px 30px 20px;
  position: relative; }

.title + div h5.title {
  color: #595959; }

.title + div h5 {
  color: #2e75b6; }

.title + div h6 {
  color: #828792; }

.title + div h5,
.title + div h6 {
  margin: 0; }

#additional {
  background: #eae8e8;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  padding: 0 10px;
  margin-top: 25px; }

section {
  position: relative;
  padding: 0 20px 35px; }

section .title {
  position: relative;
  top: -18.7px; }

.programs img {
  width: 100%;
  padding: 0 20px 0 10px; }

  .programs{
    border-top:2px solid white;
  }

.separator {
  width: 100%;
  height: 15px; }

.text-right {
  text-align: right; }

#photo {
  width: 200px;
  border: 4px solid #77afc3;
  border-radius: 50%;
  position: absolute;
  right: 56.1px;
  top: 111.9px; }

#photo img {
  width: 100%;
border-radius: 50%; }

  .container{
    background: white;
    padding: 0;
    position: relative;
    box-shadow: 4px 5px 11px 0px #2a292d;
  }

  .btn.animate-close{
    border: 2px solid grey;
    position: relative;
    margin-top: 5px;
}

.btn.animate-close span{
  transition: color .5s ease-in-out;
  font-weight: 600;
  z-index: 3;
  position: relative;
}

.btn.animate-close:hover span{
    color:white !important;
}

.btn.animate-close::before{
    content: "";
    height: 0px;
    border-right: 0px solid transparent;
    border-bottom: 4.5ex solid #428bca;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    transition: all 0.5s;
}

.btn.animate-close:hover::before{
    border-right: 4.5ex solid transparent;
    width: 75%;

}

.btn.animate-close::after{
    width: 0;
    height: 0px;
    border-left: 0px solid transparent;
    border-top: 4.5ex solid #428bca;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    transition: all 0.5s;
}

.btn.animate-close:hover::after{
border-left: 4.5ex solid transparent;
width: 75%;
}

@media (max-width: 1000px) {
  .header {
    height: 530px; }

    .header::after{
      width: 50%;
    }
  #contacts,
  #profile {
    position: static;
    padding: 5px 30px 20px; }

  #name {
    width: 80%; }

  #name > div {
    width: 48%; 
  padding-left: 40px;
  }
  #contacts > .title {
    left: 0;
}

  #contacts {
    width: auto; }

  #photo {
    width: 150px;
    top: 22px;
    z-index: 4;
    left: 60.4%; } }
@media (max-width: 480px) {
  .header {
    height: 560px; }

  #name p {
    font-size: 48px; }

  #name {
    width: 90%; }

  #photo {
    width: 118px;
    top: 70.6px; }
  
    section > .title,
    section > .title::after {
      width: 290px; 
    }  
  }

